$white-0: #FBFBFB;
$white-1: #E8E8E8;
$white-2: #D4D4D4;
$white-3: #B5B5B5;
$white-4: #7E7E7E;
$white-5: #4D4D4D;
$white-6: #1F1F1F;

$shadow-0: #00000040;

:root {
	--primary-0: #F3FFFC;
	--primary-1: #CEF4EA;
	--primary-2: #9EE6D4;
	--primary-3: #5ABCA4;
	--primary-4: #217B65;
	--primary-5: #074A39;
	--primary-6: #00231A;
}
