@import "./Colors";

.library-menu {
	flex: 0 0 4rem;
	display: flex;
	flex-flow: row nowrap;
	background-color: $neutral-color-0;

	.logo {
		flex: 0 0 auto;
		height: 2.5rem;
		margin: 0.75rem;
	}

	.main-buttons {
		flex: 0 1 24rem;
		margin: 0 auto;
		display: flex;
		flex-flow: row nowrap;

		input {
			flex: 1 1 auto;
			height: 100%;
			color: $neutral-color-4;
			font-size: 110%;
			cursor: pointer;
			font-weight: bold;
			border: none;
			background-color: inherit;
			transition: font-size 0.1s;
			border-radius: 0;

			&.selected {
				color: $neutral-color-6;
				border-bottom: 0.25rem solid $neutral-color-3;
			}

			&:hover {
				font-size: 120%;
			}
		}
	}
}
