@import "./Colors";

.pane {
	width: 10rem;
	height: 14.5rem;
	margin: 1rem;
	padding: 1rem 1rem 0;
	display: flex;
	overflow: hidden;
	flex-flow: column nowrap;
	border-radius: 1rem;
	border: none;
	cursor: pointer;
	background-color: $neutral-color-0;
	box-shadow: 0 0.5rem 2rem $neutral-color-3;
	transition: transform 0.1s;
	transform: scale(1);

	&:hover {
		transform: scale(1.04);

		.labels {
			text-decoration: underline;
		}
	}

	&:active {
		transform: scale(1);
	}

	img {
		flex: 0 0 auto;
		width: 100%;
		margin: 0;
		border-radius: 1rem;
	}

	.labels {
		display: flex;
		flex-flow: column nowrap;
		justify-items: center;
		text-align: center;
		margin: auto;
		line-height: 1.5rem;

		span {
			overflow: hidden;
			max-width: 8rem;
			max-height: 1.5rem;
			word-break: break-all;

			&.sublabel {
				color: $neutral-color-4;
			}

			&.double {
				max-height: 3rem;
			}
		}
	}
}
