@use "styles/sizes";

.explore {
	height: 100%;
	width: 100%;
	display: flex;
	flex-flow: row;

	&>div {
		max-height: 100%;
		overflow: auto;
		padding: sizes.$length--3;
	}

	.submenu {
		flex: 0 0 sizes.$length-5;

		font-size: sizes.$font-1;
		line-height: 1.5;
		background-color: var(--primary-1);
		color: var(--primary-4);

		.indent {
			padding-left: sizes.$length--3;
		}

		.section {
			padding-bottom: sizes.$length--3;
		}

		.selection {
			cursor: pointer;

			&:hover {
				color: var(--primary-5);
			}

			&.selected {
				font-weight: bold;
				color: var(--primary-6);
			}
		}
	}

	.viewer {
		flex: 1 0 0;
		word-break: break-all;
	}
}
