@use "styles/sizes";

.settings {
	height: 100%;
	width: 100%;
	display: flex;
	flex-flow: row;

	&>div {
		height: 100%;
	}

	.submenu {
		flex: 0 0 sizes.$length-5;
		padding: sizes.$length--3;

		text-align: right;
		font-size: sizes.$font-1;
		line-height: 2;
		background-color: var(--primary-1);
		color: var(--primary-4);

		.selection {
			cursor: pointer;

			&:hover {
				color: var(--primary-5);
			}

			&.selected {
				font-weight: bold;
				color: var(--primary-6);
			}
		}
	}

	.viewer {
		flex: 1 0 0;
		padding: sizes.$length--3;
	}
}
